@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;800&display=swap');

body * {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Inconsolata', monospace;
}

.main-background {
    width: 100vw;
    height: 100vh;
    background-image: url(https://images.unsplash.com/photo-1497864979123-ef3595423b92?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer {
    color: #ffffff;
}

.card {
    width: 30vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background-color: #d6d6d6e1;
    color: #ffffff;
    border-radius: 25px;
    box-shadow: 20px 50px 15px #00000056;
}

.card>h1 {
    color: #000000;
    font-weight: 800;
    font-size: 8vh;
    margin-bottom: 10vh;
}

.text-field {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 18px 0px;
}

.text-field>input {
    width: 100%;
    border: none;
    border-radius: 12px;
    padding: 20px;
    background-color: #8a8a8a48;
    color: #00000056;
    font-size: 11pt;
    box-shadow: 0px 10px 15px #00000056;
    outline: none;
    box-sizing: border-box;
}

.text-field>label {
    font-size: 20px;
    color: #000000;
    margin-bottom: 20px;
}

.text-field>input::placeholder {
    color: #262729;
}

.btn-login {
    width: 50%;
    padding: 20px 0px;
    margin: 40px;
    border: none;
    border-radius: 12px;
    outline: none;
    box-sizing: border-box;
    text-transform: lowercase;
    font-weight: 700;
    letter-spacing: 4px;
    color: #ffffff;
    background: #014495;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00000056;
}

.btn-login:hover {
    background-color: #221569;
}

@media only screen and (max-width: 1000px) {
    .card {
        width: 50%;
    }
}

@media only screen and (max-width: 600px) {
    .card {
        width: 70%;
        height: auto;
    }
}